.appNav {
    grid-area: nav;
    background-color: #4c516d;
    padding: 20px;
    border-radius: 3px;
}
.link {
    color: antiquewhite;
}

.link {
    text-decoration: none;
    color: antiquewhite;
}

.link.active {
    border-bottom: 2px solid antiquewhite;
}