.appContent {
    grid-area: content;
    border: 1px solid #4c516d;
    border-radius: 3px;
    background-color: antiquewhite;
}
.img {
    height: 200px;
    width: 100%;
}

.person {
    display: flex;
    padding: 10px;
}
.avatar {
    border-radius: 50%;
}

.info {
    margin-left: 30px;
}

.fullname {
    font-size: 28px;
    font-weight: 700;
}

.birthday, .address, .education, .website {
    font-size: 18px;
}

.website a {
    text-decoration: none;
    color: black;
}
.website a:hover {
    color: #4c516d;
}
